$purple: rgb(164, 94, 229);
$purple-invert: rgb(91, 161, 126);

$sailor-blue: rgb(22, 27, 64);
$sailor-orange: rgba(255, 189, 138, 0.858);
$sailor-pink: #FFADAD;
$light-blue: rgb(67, 190, 229);
$light-pink: rgb(242, 179, 224);
$bright-red: rgb(244, 0, 88);
$pale-yellow: rgb(239, 165, 0);
$pale-green: rgb(65, 184, 83);

$mint: rgb(152, 222, 217);
$light-mint: rgb(199, 255, 216);

$docs-hover-blue: rgba(152, 199, 254, 0.5);
$gray-border: rgb(230, 230, 230);
